<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action="/" method="post">
                    <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
                    <select name="month" id="month">
                        {% for month in months %}
                        <option value={{month}}>{{month}}</option>
                        {% endfor %}
                      </select>
                      <select name="day" id="day">
                        {% for day in days %}
                        <option value={{day}}>{{day}}</option>
                        {% endfor %}
                      </select>
                    <button type="submit">Register</button>
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for birthday in birthdays %}
                            <tr>
                                <td>{{ birthday.name }}</td>
                                <td>{% if birthday.month==1 %}
                                        January
                                    {% elif birthday.month==2 %}
                                        February
                                    {% elif birthday.month==3 %}
                                        March
                                    {% elif birthday.month==4 %}
                                        April
                                    {% elif birthday.month==5 %}
                                        May
                                    {% elif birthday.month==6 %}
                                        June
                                    {% elif birthday.month==7 %}
                                        July
                                    {% elif birthday.month==8 %}
                                        August
                                    {% elif birthday.month==9 %}
                                        September
                                    {% elif birthday.month==10 %}
                                        October
                                    {% elif birthday.month==11 %}
                                        November
                                    {% elif birthday.month==12 %}
                                        December
                                {% endif %}
                                    {{ birthday.day }}</td>
                                    <td> <form action="/deleteitem" method="post"></form><input name="id" type="hidden" value="{{ birthday.id }}">
                                        <button type="submit">Delete</button></form></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
