/* Apply the color scheme */
:root {
    --primary-color: #607d8b; /* teal */
    --secondary-color: #ff9800; /* orange */
    --background-color: #f4f4f4; /* light gray */
    --text-color: #333; /* dark gray */
    --link-color: #1976d2; /* blue */
  }

  /* Set some basic styles */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  a {
    color: var(--link-color);
  }

  a:hover {
    color: var(--secondary-color);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
  }

  /* Style the navigation menu */
  .navbar {
    background-color: #6c757d;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  }

  .navbar a:hover {
    color: var(--secondary-color);
  }

  .navbar-brand {
    font-weight: bold;
  }

  /* Style the content area */
  .content {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 1rem;
    margin-bottom: 1rem;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* set a height for the footer */
    margin-top: 1rem; /* add margin-top to the content area */
  }

  .Hobbies {
    background-color: #f7f7f7;
    padding: 50px 0;
    text-align: center;
  }

  .Hobbies h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .Hobbies p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
  }

  .Hobbies img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
  }

  /* Container for the travels section */
  .container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px; /* add some bottom margin */
}

  /* Heading style */
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  /* Row style */
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  /* Column style */
  .col {
    flex-basis: 48%;
    margin-bottom: 1.5rem;
  }

  /* Paragraph style */
  p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  /* Unordered list style */
  ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  /* List item style */
  li {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  /* Image style */
  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }


