{% extends "layout.html" %}

{% block title %}
    Purchase History
{% endblock %}

{% block main %}
<div class="header">
    <h1>Purchase History</h1>
</div>
<div class="container">
    <div class="section">
        {% if length > 0 %}
        <table>
           <thead>
                <tr>
                    <th>Date</td>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Symbol</th>
                    <th>No of Shares</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in history %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.time }}</td>
                        <td>{{ transaction.bors }}</td>
                        <td>{{ transaction.symbol }}</td>
                        <td>{{ transaction.quantity }}</td>
                        <td>{{ transaction.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h2>No purchase history</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
