{% extends "layout.html" %}

{% block title %}
    Stock Home
{% endblock %}

{% block main %}
<div class="header">
    <h1>Stock Portfolio</h1>
</div>
<div class="container">
    <div class="section">
        <h3>Cash Balance: {{ cash }}</h2>
        <h3>Total of current holdings: {{ totalholdings }}</h2>
        <br>
        {% if length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>No of Shares</th>
                    <th>Current price per share</th>
                    <th>Total value of holding</th>
                </tr>
            </thead>
            <tbody>
                {% for share in shares %}
                    <tr>
                        <td>{{ share.symbol }}</td>
                        <td>{{ share.quantity }}</td>
                        <td>{{ share.price }}</td>
                        <td>{{ share.totalprice }}</td>
                        <td id="sellbutton">
                            <button id='{{ share.symbol }}' onClick="sell(this.id)">Sell</button>
                        </td>

                        <script>
                            // Source for to help write code: https://www.w3schools.com/js/js_htmldom_html.asp
                            function sell(id) {
                                text = '<form action="/sell" method="post"><input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Enter Number of Shares" type="text"><input id="symbol" type="hidden" text="'+ id + '"><button type="submit">Sell</button></form>';
                                alert(text)
                                document.getElementById('sellbutton').innerHTML = codetowrite;
                            }
                        </script>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h2>No shares owned</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
