{% extends "layout.html" %}

{% block title %}
    Stock Home
{% endblock %}

{% block main %}
<div class="header">
    <h1>Stock Portfolio</h1>
</div>
<div class="container">
    <div class="section">
        <h3>Cash Balance: {{ cash }}</h2>
        <h3>Total of current holdings: {{ totalholdings }}</h2>
        <br>
        {% if length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>No of Shares</th>
                    <th>Current price per share</th>
                    <th>Total value of holding</th>
                </tr>
            </thead>
            <tbody>
                {% for share in shares %}
                    <tr>
                        <td>{{ share.symbol }}</td>
                        <td>{{ share.quantity }}</td>
                        <td>{{ share.price }}</td>
                        <td>{{ share.totalprice }}</td>
                        <td id="">
                        <form action="/sell" method="post"><input name="id" type="hidden" value="{{ share.symbol }}">
                            <button type="submit">Sell</button>
                        </form>
                        </td>

                        <script>
                            window.addEventListener('load', function()
                            {
                            var xhr = null;

                            getXmlHttpRequestObject = function()
                            {
                                if(!xhr)
                                {
                                    // Create a new XMLHttpRequest object
                                    xhr = new XMLHttpRequest();
                                }
                                return xhr;
                            };

                            updateLiveData = function()
                            {
                                var now = new Date();
                                // Date string is appended as a query with live data
                                // for not to use the cached version
                                var url = 'livefeed.txt?' + now.getTime();
                                xhr = getXmlHttpRequestObject();
                                xhr.onreadystatechange = evenHandler;
                                // asynchronous requests
                                xhr.open("GET", url, true);
                                // Send the request over the network
                                xhr.send(null);
                            };

                            updateLiveData();

                            function evenHandler()
                            {
                                // Check response is ready or not
                                if(xhr.readyState == 4 && xhr.status == 200)
                                {
                                    dataDiv = document.getElementById('liveData');
                                    // Set current data text
                                    dataDiv.innerHTML = xhr.responseText;
                                    // Update the live data every 1 sec
                                    setTimeout(updateLiveData(), 1000);
                                }
                            }
                            });

                        </script>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h2>No shares owned</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
