{% extends "layout.html" %}

{% block title %}
    Sell Shares
{% endblock %}

{% block main %}
<div class="header">
    <h1>Sell Shares</h1>
</div>
<div class="container">
    <div class="section">

        <form action="/sell" method="post">
            <div class="mb-3">
                <select name="symbol" id="symbol">
                    <option value=0>Please choose</option>
                    {% for month in months %}
                    <option value={{id}}>{{symbol}}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Enter Number of Shares" type="number" min="1" required>
            </div>
            <button class="btn btn-primary" type="submit">Buy</button>
        </form>
    </div>
</div>
{% endblock %}
